In [2]:
import pandas as pd

tabela = pd.DataFrame({'nome':['Flavio', 'Rafael', 'João'], 'nota': [10,9,8]})

print(tabela) # mostrara a tabela acima criada

print(tabela.nome[2]) # mostrará João no console

     nome  nota
0  Flavio    10
1  Rafael     9
2    João     8
João

In [4]:
tabela.groupby('nome').mean() # Fará a média de notas por cada nome

        nota
nome
Flavio  10.0
João     8.0
Rafael   9.0