In [1]:
import pandas as pd

# Variavel      Ler doc excel  nome do doc    nome da aba no excel
dados_pessoas = pd.read_excel('dados.xlsx', sheet_name='pessoas')
dados_notas = pd.read_excel('dados.xlsx', sheet_name='notas')

print(dados_pessoas)
print(dados_notas)

     nome  idade
0  rafael     15
1    joao     10
2   maria     18
3  mateus     12
4   pedro     11
5     ana     19
      nome  semestre  nota
0   rafael         1     7
1     joao         1     4
2    maria         1     9
3   mateus         1     8
4    pedro         1     7
5      ana         1    10
6   rafael         2    10
7     joao         2     8
8    maria         2     6
9   mateus         2     9
10   pedro         2     8
11     ana         2     6

In [2]:
dados_todos = dados_notas.set_index('nome').join(dados_pessoas.set_index('nome'))

print(dados_todos) # A coluna nome é a chave principal para conectar as duas tabelas, sendo assim agora temos uma tabela com nome, semestre, nota e idade.

        semestre  nota  idade
nome
ana            1    10     19
ana            2     6     19
joao           1     4     10
joao           2     8     10
maria          1     9     18
maria          2     6     18
mateus         1     8     12
mateus         2     9     12
pedro          1     7     11
pedro          2     8     11
rafael         1     7     15
rafael         2    10     15

In [3]:
medias = dados_todos.groupby('nome').nota.mean()

print(medias) # Mostrara a média de cada aluno

medias.to_excel('saida.xlsx') # Criará um arquivo excel com as medias de notas dos alunos

nome
ana       8.0
joao      6.0
maria     7.5
mateus    8.5
pedro     7.5
rafael    8.5
Name: nota, dtype: float64